<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <title>About Us | Medicare</title>
        <link rel="icon" href="../assets/image.png" type="image/x-icon">
        <script defer src="../Scripts/inPageScript.js"></script>
    </head>
    <body>
        <!-- HEADER PAGE STARTS HERER -->
        <header class="in-pages">
            <div class="nav-icon">
                <!-- <i class="fa-solid fa-xmark"></i> -->
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="nav-links-container">
                <a href="home.ejs">
                    <i class="fa-solid fa-stethoscope"></i>&nbsp; Medicare
                </a>
                <a href="home.ejs" class="nav-links">HOME</a>
                <a href="http://localhost:3001/" class="nav-links">DIAGNOSTICS</a>
                <a href="profile.html" class="nav-links">PROFILE</a>
                <a href="about.html" class="nav-links active">ABOUT</a>
                <a href="../index.html" class="nav-links btn login-link center-inside">LOGOUT</a>
            </nav>
        </header>
        <!-- MAIN BODY STARTS HERE -->
        <main>
            <div id="about-us" class="about-us">
                <h1 style="color: #1a1919; text-align: center;">Welcome to Medicare - Your Mental Health Companion</h1>
                <div class="about-us-body">
                    <p>At Medicare, we understand that mental health is an integral part of overall well-being. Our mission is to provide you with the support, knowledge, and resources you need to nurture your mental health journey.</p>
                    <br>
                    <h3 style="color: #1a1919; ">MediReads Community:</h3>
                    <p>Our MediReads community is your hub for insightful and informative updates on mental health. Our team of experienced psychiatrists regularly shares valuable insights, articles, and tips to educate and empower you. Whether you're seeking guidance, looking to expand your knowledge, or simply want to connect with like-minded individuals, MediReads is the place to be.</p>
                    <br>
                    <h3 style="color: #1a1919; ">AI Diagnostics:</h3>
                    <p>We understand that seeking professional help can sometimes be intimidating. That's why we've developed an AI Chatbox that acts as a friendly, non-judgmental guide. It will ask you a series of questions to better understand your mental health needs. If necessary, it can even connect you with one of our trusted psychiatrists for a personalized consultation.</p>
                    Join us today, and let's prioritize mental health together at Medicare.
                </div>
            </div>
            <div class="video-container">
                <video
                    src="../HealthCare.mp4"
                    class="video-element"
                    controls
                    muted
                    width="400"
                    autoplay="on"
                ></video>
            </div>
        </main>
        <!-- FOOTER PAGE STARTS HERE -->
        <footer>
            <div class="social-links-container">
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-youtube"></i>
                        &nbsp; YouTube
                    </a
            >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-facebook"></i>
                        &nbsp;Facebook
                    </a
            >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-twitter"></i>
                        &nbsp; Twitter
                    </a
            >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-instagram"></i>
                        &nbsp;Instagram
                    </a
            >
                </div>
            </div>
            <div class="copyright">
                Copyright &copy; Mini Project 2024 || Medicare
            </div>
        </footer>
        <!-- <script src="script.js"></script> -->
    </body>
</html>
