<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="../style.css" />
      <link rel="icon" href="../assets/image.png" type="image/x-icon">
      <link
         rel="stylesheet"
         href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      />
      
      <title>Home | Medicare</title>
      <script defer src="../Scripts/inPageScript.js"></script>
   </head>
   <body>
      <!-- HEADER PAGE STARTS HERER -->
      <header class="in-pages">
         <div class="nav-icon">
            <!-- <i class="fa-solid fa-xmark"></i> -->
            <i class="fa-solid fa-bars"></i>
         </div>
         <nav class="nav-links-container">
            <a href="http://localhost:3004/Views/home.ejs"><i class="fa-solid fa-stethoscope"></i>&nbsp; Medicare</a>
            <a href="home.ejs" class="nav-links active">HOME</a>
            <a href="http://localhost:3001/" class="nav-links">DIAGNOSTICS</a>
            <a href="http://localhost:3004/Views/profile.html" class="nav-links">PROFILE</a>
            <a href="http://localhost:3004/Views/about.html" class="nav-links">ABOUT</a>
            <a href="http://localhost:3004/index.html" class="nav-links btn login-link center-inside">LOGOUT</a>
         </nav>
      </header>
      <!-- MAIN PAGE STARTS HERE -->
      <main>
         
         <div class="home-h2">
            <h2>Your Trusted Source for Comprehensive Medicare Information and Assistance. Explore Your Medicare Options Today!</h2>
         </div>
         <div class="home-p">
            Welcome to the official Medicare website - your trusted resource for all things related to healthcare coverage for seniors and eligible individuals. 
            Our mission is to empower you with the knowledge and tools needed to make informed decisions about your Medicare options. Whether you're approaching retirement
            age or currently enrolled in Medicare, this website is your gateway to understanding the ins and outs of the program. Here, you'll find valuable information 
            on the various Medicare parts, eligibility criteria, enrollment guidelines, and the latest <br>updates to ensure you get the most out of your Medicare benefits. 
            Explore our resources and let us be your partner in securing your health and well-being.
         </div><br>
         <h2 style="text-align: center; ">MediReads Community:</h2>
<p class="home-p">Our MediReads community is your hub for insightful and informative updates on mental health. Our team of experienced psychiatrists regularly shares valuable insights, articles, and tips to educate and empower you. Whether you're seeking guidance, looking to expand your knowledge, or simply want to connect with like-minded individuals, MediReads is the place to be.
   Your Mental Health Matters,
   At Medicare, we firmly believe that your mental health deserves the utmost attention and care. We're here to break down barriers, provide support, and promote open conversations about mental well-being. Your journey to a healthier mind starts here.
</p>


         <br><br>
         <div class="home-btn">
            <button class="home-btn1" onclick="window.location.href='http://localhost:3000/'">MEDIREADS</button>

         </div>
      </main>
      
      <!-- FOOTER PAGE STARTS HERE -->
      <footer>
         <div class="social-links-container">
            <div>
               <a href="#" class="social-link">
                  <i class="fa-brands fa-youtube"></i>&nbsp; YouTube</a
               >
            </div>
            <div>
               <a href="#" class="social-link"
                  ><i class="fa-brands fa-facebook"></i>&nbsp;Facebook</a
               >
            </div>
            <div>
               <a href="#" class="social-link"
                  ><i class="fa-brands fa-twitter"></i>&nbsp; Twitter</a
               >
            </div>
            <div>
               <a href="#" class="social-link"
                  ><i class="fa-brands fa-instagram"></i>&nbsp;Instagram</a
               >
            </div>
         </div>
         <div class="copyright">
            Developed by Web Wizards
         </div>
      </footer>
      <!-- <script src="script.js"></script> -->
   </body>
</html>