<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <title>Data | Medicare</title>
        <link rel="icon" href="../assets/image.png" type="image/x-icon">

        <script defer src="../Scripts/inPageScript.js"></script>
    </head>
    <body>
        <!-- HEADER PAGE STARTS HERER -->
        <header class="in-pages">
            <div class="nav-icon">
                <!-- <i class="fa-solid fa-xmark"></i> -->
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="nav-links-container">
                <a href="home.ejs">
                        <i class="fa-solid fa-stethoscope"></i>&nbsp; Medicare
                </a>
                <a href="home.ejs" class="nav-links active">HOME</a>
                <a href="http://localhost:3001/" class="nav-links">DIAGNOSTICS</a>
                <a href="profile.html" class="nav-links">PROFILE</a>
                <a href="about.html" class="nav-links">ABOUT</a>
                <a href="../index.html" class="nav-links btn login-link center-inside">LOGOUT</a>
                </nav>
        </header>
        <!-- MAIN PAGE STARTS HERE -->
        <main>
            <h2 class="chat-head">User Information</h2>
            <div class="patient-data">
                <img src="user.png">
                <p><strong>Name:</strong> Johnny</p>
                <p><strong>Age:</strong> 26</p>
                <p><strong>Gender:</strong> Male</p>
                <p><strong>DOB (DD/MM/YYYY):</strong>08/09/1994</p>
                <p><strong>Phone No:</strong> XXXXXXXXXX</p>
                <p><strong>Height:</strong> 170cm</p>
                <p><strong>Weight:</strong> 67Kg</p>
                <p><strong>Medical History (if any):</strong> Diabetes type 2</p>
                <p><strong>Current Medications:</strong> Insulin</p>
                <p><strong>Current Allergies:</strong> None</p>
                <br>
            </div>
        </main>
        
        <!-- FOOTER PAGE STARTS HERE -->
        <footer class="index-footer">
            <div class="social-links-container">
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-youtube"></i>&nbsp; YouTube
                    </a
                >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-facebook"></i>&nbsp;Facebook
                    </a
                >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-twitter"></i>&nbsp; Twitter
                    </a
                >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-instagram"></i>&nbsp;Instagram
                    </a
                >
                </div>
            </div>
            <div class="copyright">
                Copyright &copy; Mini Project 2024 || Medicare
            </div>
        </footer>
        <!-- <script src="script.js"></script> -->
    </body>
</html>