<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
        <title>Profile | Medicare</title>
        <link rel="icon" href="../assets/image.png" type="image/x-icon">
        <script defer src="../Scripts/inPageScript.js"></script>
    </head>
    <body>
        <!-- HEADER PAGE STARTS HERER -->
        <header class="in-pages">
            <div class="nav-icon">
                <!-- <i class="fa-solid fa-xmark"></i> -->
                <i class="fa-solid fa-bars"></i>
            </div>
            <nav class="nav-links-container">
                <a href="home.ejs">
                    <i class="fa-solid fa-stethoscope"></i>
                    &nbsp; Medicare
                </a>
                <a href="home.ejs" class="nav-links">HOME</a>
                <a href="http://localhost:3001/" class="nav-links">DIAGNOSTICS</a>
                <a href="profile.html" class="nav-links active">PROFILE</a>
                <a href="about.html" class="nav-links">ABOUT</a>
                <a href="../index.html" class="nav-links btn login-link center-inside">LOGOUT</a>
            </nav>
        </header>
        <!-- MAIN PAGE STARTS HERE -->
        <main>
            <h2 class="chat-head">My Dashboard</h2>
            <div class="patient-data">
                <img id="userImage">
                <p id="userName">Name:</p>
                <p id="userGender">
                    <strong>Gender:</strong>
                </p>
                
                <p id="userPhone">Phone No:</p>
                <p id="userHeight">Height:</p>
                <p id="userWeight">Weight:</p>
                <p id="userMedicalHistory">Medical History (if any):</p>
                <p id="userMedications">Current Medications:</p>
                <p id="userAllergies">Current Allergies:</p>
                <br>
                <button id="deleteProfileBtn">DELETE PROFILE</button>
                <br>
                <!-- Add an Edit Profile button -->
                <button id="editProfileBtn">EDIT PROFILE</button>
                <!-- Add a hidden form for editing profile -->
                <div id="editProfileForm" class="hidden">
                    <form id="editProfileForm" class="edit-profile-form">
                        <div>
                            <label for="editName">Name:</label>
                            <input type="text" id="editName" placeholder="Your name">
                        </div>
                        <div>
                            <label for="editPhone">Phone #:</label>
                            <input type="text" id="editPhone" placeholder="Your phone number">
                        </div>
                        <div>
                            <label for="editHeight">Height:</label>
                            <input type="text" id="editHeight" placeholder="Your height in cm">
                        </div>
                        <div>
                            <label for="editWeight">Weight:</label>
                            <input type="text" id="editWeight" placeholder="Your weight in Kg">
                        </div>
                        <div>
                            <label for="editMedicalHistory">Medical History (if any):</label>
                            <input type="text" id="editMedicalHistory" placeholder="Your medical history">
                        </div>
                        <div>
                            <label for="editMedications">Current Medications:</label>
                            <input type="text" id="editMedications" placeholder="Your current medications">
                        </div>
                        <div>
                            <label for="editAllergies">Current Allergies:</label>
                            <input type="text" id="editAllergies" placeholder="Your current allergies">
                        </div>
                        <input type="submit" value="SAVE">
                    </form>
                    <br>
                </div>
            </div>
        </main>
        <!-- FOOTER PAGE STARTS HERE -->
        <footer class="index-footer">
            <div class="social-links-container">
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-youtube"></i>
                        &nbsp; YouTube
                    </a
                >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-facebook"></i>
                        &nbsp;Facebook
                    </a
                >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-twitter"></i>
                        &nbsp; Twitter
                    </a
                >
                </div>
                <div>
                    <a href="#" class="social-link">
                        <i class="fa-brands fa-instagram"></i>
                        &nbsp;Instagram
                    </a
                >
                </div>
            </div>
            <div class="copyright">
                Copyright &copy; Mini Project 2024 || Medicare
            </div>
        </footer>
        <script src="../Scripts/profile.js"></script>
    </body>
</html>
